<div class="footer">
  <div class="footer-inner">
    <div class="footer-content">
      <span class="bigger-120">
        <span class="blue bolder">Barbershop - Soluções</span>
        Application (62) 98260-4732
      </span>

      &nbsp; &nbsp;
      <span class="action-buttons">
        <a href="https://www.facebook.com/karlysson.alves">
          <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
        </a>

        <a href="https://github.com/karlysson">
          <i class="ace-icon fa fa-github-square orange bigger-150"></i>
        </a>

      </span>
    </div>
  </div>
</div>
