<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/backoffice">Home</a>
                </li>
                <li class="active">Produtos</li>
            </ul>
            <!-- /.breadcrumb -->
        </div>

        <div class="page-content">
            <div class="page-header">
                <h1> Produto
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i> Editando Produto
                    </small>
                </h1>
            </div>
            <!-- /.page-header -->

            <%= render 'form', product: @product %>

        </div>

    </div>
</div>
